Source: surf2
Section: user/communication
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper (>= 10),
 libwebkit2gtk-4.0-dev,
 libgcr-3-dev,
 pkg-config,
 libgtk-3-dev,
 maemo-system-services,
Standards-Version: 3.9.8

Package: surf2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
XB-Maemo-Icon-26: ${maemo:icon26}
Description: Simple web browser by suckless community. Version 2.
 Surf2 is the latest version of the no-nonsense minimal browser
 developed by the suckless community. The browser is based on
 WebKit2/GTK+ and supports the XEmbed protocol, which makes it
 possible to embed it in another application, such as tabbed.
